* {
	margin: 0;
	padding: 0;
}

body {
	width: 1350px;
	height: 675px;
	margin: 0 auto;
	/*background-color: #F5F5DC;*/
	background-color: #D9E3E8;
	padding: 0.2%;
}

.box {
	background-color: #FFFFFF;
	margin: 5px;
}

.navStripe {
	/*background-color: #F5F5DC;*/
	background-color: #F9C397;
	height:27px;
	color: gray;
}

#leftContainer .navStripe {
	padding: 8px 3px;
	font-size: 12px;
	font-family: sans-serif;
}

#leftContainer .smallStrip {
	padding: 5px 10px;
	font-size: 10px;
	font-family: sans-serif;
	background-color: #c9c9c9;
}

.navStripe .glyphicon {
	/*color: #d7d7d7;*/
	color: gray;
	font-size: 12px;
	/*margin-right: 10px;
	margin-top: 3px;*/
	padding-right:  5px; 
	vertical-align: top;
}

#leftContainer {
	float: left;
	width: 50%;
	height: 670px;
}

#rightContainer {
	float: right;
	width: 48%;
	min-height: 650px;
}

#rightContainer .navStripe {
	padding: 5px 8px;
	font-size: 12px;
	font-family: sans-serif;
}
.rightTop {
	width: 98%;
	min-height: 315px;
	margin-bottom: 15px;
}
.rightBottom {
	width: 98%;
	min-height: 312px;
	overflow: hidden;
}
.leftTop {
	width: 98%;
	min-height: 642px;
	margin-bottom: 3px;
}




#window {
	width: 100%;
	padding: 1.5% 2%;
}

.navStripe > li {
	width: 33%;
	font-size: 16px;
	text-align: center;
}

.navStripe > li:first-child {
	margin-left: 0.5%;
}

.navStripe > li:last-child {
	margin-right: 0.5%;
}

.navStripe>li>a {
	color: gray;
	font-family: sans-serif;
	padding: 6px 15px;
}

.navStripe > .active > a, .navStripe > li > a:hover, .navStripe > li > a:active {
	border-radius: 0;
	color: #555;
}

.nav .open>a, .nav .open>a:focus{
	background-color: #898989;
	border-color: #A0A0A0;
}
.nav .open>a:hover {
	background-color: #eee;
}

#tabContent {
	padding: 20px 10px;
}

.form-horizontal .form-group {
	margin: 0;
	margin-bottom: 10px;
}

#tabContent label {
	font-size: 16px;
}

#tabContent label .glyphicon {
	font-size: 20px;
	color: #f97e79;
	margin-right: 10px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	text-align: center;
	vertical-align: middle;
}

#rightContainer button {
	float: right;
	padding: 6px 15px;
	margin-right: 10px;
}

#AHP-kiln input[type="text"], #AHP-factory input[type="text"] {
	width: 27px;
}

#AHP-kiln table td, #AHP-factory table td{
	padding: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
	-moz-appearance: textfield;
}

.axis path,
        .axis line {
            fill: none;
            stroke: gray;
            shape-rendering: crispEdges;
        }

        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }

#radviz{
		
            position: relative;
            float: left;
            width:600px;
			height: 400px;
            display:inline-block;
            /*border-right: 1px solid gray;*/
}
 
#col{
            position: relative;
            float:left;
            width:320px;
            height: 280px;
            display:inline-block;  
     }
#MDS{
            position: relative;
            float:left;
            width:280px;
            height: 280px;
            display:inline-block;
            /*background-color: white;*/
    
    }
#example{
			position: relative;
            float:left;
            width:600px;
            height: 160px;
            display:inline-block;
}
#inforPanel{
	position: relative;
            float:left;
            width:600px;
            height: 120px;
            display:inline-block;
}

#state {
           
        	margin-left: 100px;
            font-family: sans-serif;
            font-size: 12px;
            /*color: gray;*/
       }

.item {
            margin:2px;
            border: 1px solid white;
            /*background-color: #D9E3E8;*/
            background-color: #81E5FE;
            opacity: 0.8;
            overflow: visible;
            padding: 2px 2px;
            white-space: nowrap;
}

#grid, #pager {
  /*position: fixed;*/
  width: 320px;
}
#grid {
  
  height: 250px;
}
#pager {

  height: 25px;
}
.slick-row {
	font-family: sans-serif;
	font-size: 11px;
	width: 70px;
}
.slick-row:hover {
  font-weight: bold;
  color: #FE8D81;
}